.section-nav {
  border: 1px solid darkslategrey;
}

@media (min-width: 80em) {
  .section-nav {
    position: sticky;
    top: 30vh;
    right: 10px;
    width: 200px;
    height: auto;
  }
}

@media (min-width: 64em) {
  .section-nav {
    position: sticky;
    top: 30vh;
    right: 10px;
    width: 100px;
    height: auto;
  }
}
